.info2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 34%;
    width: 30%;
    justify-content:center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 2px solid;
    border-color: rgb(130, 17, 0);
    align-items: center;
}