.postlist {
    display: flex;
    flex-direction: column;
    gap: y-2;
}

.info3 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    justify-content: center;
    margin: 2rem auto;    
    border: 2px solid rgb(130, 17, 0);
    align-items: center;
}
