*{
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

.blogbody {
  overflow-wrap: break-word;
}

.info {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 2rem auto;          
    border: 2px solid rgb(130, 17, 0);
    align-items: center;
}

p {
    padding: 10px;
    display: inline-block;
    width: 90%;
    
}

h2{
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .info {
      /* width: 90%;*/
      margin: 1.5rem auto;  
      padding: 12px;        
    }
  
    h1 {
      font-size: 1.4rem;    
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 0.95rem;  
    }
  }
  