*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(130, 17, 0);
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: left;
    height: auto;
    position: absolute;
    margin: 0;
    gap: 1rem;      
    padding: 10px 10px;  
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
}

nav {
    display: flex;
    gap: 1.5rem;
    padding-top: 0;
}

a {
    color: white;
}

/* @media screen and (min-width: 950px) {
    .header {
      flex-direction: column;  
      align-items: center;      
      gap: 0.5rem;              
      height: auto;             
      padding: 10px;            
    }
  
    nav {
      display: flex;
      gap: 1.5rem;              
      padding-top: 0; 
    }
  }
   */